.link {
    text-decoration: none;
}

.wrapper {
    font-family: "Press Start 2P", system-ui;
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    .time {
        color: black;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        margin-left: 30px;
    }
    .name {
        color: black;
        grid-column: 2 / 3;
        grid-row: 2 / 2;
    }
}

.wrapper:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transform: scale(1.01, 1.01);
}